.xodim {
    padding: 20px;
    background-color: white;
    width: 100%;
    min-height: 100vh;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.xodim_header {
    width: 100%;
    margin-top: 20px;
    padding-right: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.xodim_header a {
    padding: 10px 15px;
    font-size: 16px;
    background: none;
    border: 2px solid #7828c8;
    color: #7828c8;
    border-radius: 8px;
    font-weight: 600;
    transition-duration: 0.3s;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.xodim_header a:hover {
    background-color: #7828c8;
    transform: scale(1.1);
    color: white;
}

.xodim_header a i {
    font-size: 22px;
    margin-left: 7px;
}

.xodim_title {
    font-size: 1.56rem;
}

.xodim_search i {
    font-size: 18px;
}


/* Xodim table */
.xodim_table_block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
}

.xodim_table {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(211, 211, 211);
    border-radius: 6px;
}

.xodim_table li {
    display: flex;
    width: 100%;
    flex-direction: row;
}

.xodim_table_header {
    display: flex;
    background-color: rgb(239, 239, 239);
    font-size: 16px;
    font-weight: 700;
}

.xodim_table_header p {
    padding: 20px 0;
    text-align: center;
    border-right: 2px solid rgb(211, 211, 211);
}

.xodim_table .xodim_table_product {
    border-bottom: 1px solid rgb(211, 211, 211);
}

.xodim_table .xodim_table_product:last-child {
    border-bottom: none;
}

.xodim_table li div {
    border-right: 2px solid rgb(211, 211, 211);
    padding: 10px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}

.xodim_table li p:nth-child(1) {
    flex-basis: 25%;
}

.xodim_table li p:nth-child(2) {
    flex-basis: 20%;
}

.xodim_table li p:nth-child(3) {
    flex-basis: 20%;
    text-align: center;
}

.xodim_table li p:nth-child(4) {
    flex-basis: 18%;
}

.xodim_table li p:nth-child(5) {
    flex-basis: 17%;
    border: none;
}

.xodim_table li div:nth-child(1) {
    flex-basis: 25%;
}

.xodim_table li div:nth-child(2) {
    flex-basis: 20%;
}

.xodim_table li div:nth-child(3) {
    text-align: center;
    flex-basis: 20%;
}

.xodim_table li div:nth-child(4) {
    flex-basis: 18%;
}

.xodim_table li div:nth-child(5) {
    border: none;
    flex-basis: 17%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.xodim_table li div:nth-child(5) button {
    border: none;
    color: white;
    font-size: 18px;
    font-weight: 600;
    width: 35px;
    height: 35px;
    border-radius: 5px;
    transition-duration: 0.2s;
    cursor: pointer;
}

.xodim_table li div:nth-child(5) button:nth-child(1) {
    background-color: blue;
}

.xodim_table li div:nth-child(5) button:nth-child(2) {
    background-color: green;
    margin-left: 15px;
    margin-right: 15px;
}

.xodim_table li div:nth-child(5) button:nth-child(3) {
    background-color: red;
}

.xodim_table li div:nth-child(5) button:hover {
    transform: scale(1.2);
}

.xodim_table_block .pagination {
    margin-top: 20px;
}

.photo_size img {
    height: 200px;
    object-fit: contain;
}


/* Xodim Form */
.xodimform_header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.xodimform_header h1 {
    font-size: 1.3rem;
}

.xodimform_form {
    margin-top: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.xodimform_title {
    font-weight: 600;
    margin-bottom: 30px;
}

.xodim_input {
    margin-bottom: 20px;
}

.xodim_buttons {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.xodim_selectform {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.xodim_selectform p {
    color: #7828c8;
    font-size: .875rem;
    margin-bottom: 0.375rem;
    margin-left: 0.25rem;
}

.xodim_select {
    width: 100%;
}

.back_red {
    background-color: #ffe2dd;
    border: 2px solid red;
    color: rgb(36, 35, 35);
}

.back_green {
    background-color: rgb(213, 255, 213);
    border: 2px solid rgb(16, 235, 16);
    color: rgb(36, 35, 35);
}

.margin_bottom_15 {
    margin-bottom: 15px;
}

/* Container - VVB */
.vvb_container{
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(142, 142, 142);
    padding: 10px;
    border-radius: 10px;
    margin-top: 25px;
}
.vvb_container .buttons{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
.buttons button{
    padding: 10px 20px;
    border: none;
    outline: none;
    font-size: 14px;
    font-weight: 700;
    border-radius: 10px;
    transition-duration: 0.3s;
}
.buttons button:hover{
    transform: scale(1.1);
}
.buttons button:first-child{
    background-color: rgba(195, 246, 195, 0.753);
    border: 2px solid green;
}
.buttons button:last-child{
    background-color: rgba(202, 202, 255, 0.764);
    border: 2px solid blue;
    margin-left: 25px;
}

@media (max-width: 650px) {
    .xodim_buttons button {
        flex-basis: 100%;
    }
    
    .xodim_buttons button:nth-child(2) {
        margin-top: 15px;
    }
}