/* Header */
header {
  position: absolute;
  top: 20px;
  right: 20px;
  width: calc(100% - 40px);
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border-radius: 12px;
  padding-right: 20px;
  padding-left: 20px;
  box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.178);
  z-index: 100;
}

.mobile_menu {
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
}

.mobile_menu img {
  width: 150px;
}

.toggle {
  font-size: 2rem;
  margin-right: 20px;
  color: #686868;
  cursor: pointer;
}

.header_last {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 100%;
  padding: 5px;
  padding-top: 10px;
}

.header_info {
  height: 80%;
  margin-right: 10px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: center;
}

.header_info h2 {
  font-size: .8rem;
}

.header_info p {
  font-size: .8rem;
  color: #686868;
}

.header_dropdown {
  position: absolute;
  top: 75px;
  right: 20px;
  background-color: white;
  width: 140px;
  padding: 10px 0;
  border-radius: 7px;
  display: none;
  flex-direction: column;
}

.header_dropdown_active {
  display: flex;
  animation: headerDropDown 0.3s;
}

@keyframes headerDropDown {
  0% {
    top: 85px;
    display: none;
    opacity: 0;
  }

  50% {
    top: 70px;
    display: flex;
    opacity: 0.6;
  }

  100% {
    top: 75px;
    display: flex;
    opacity: 1;
  }
}

.MuiAvatar-img {
  cursor: pointer;
}

.header_dropdown_item {
  padding: 5px;
  padding-left: 10px;
  color: #686868;
  transition: linear all 0.2s;
}

.header_dropdown_item a {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header_dropdown_item a p {
  margin-bottom: 3px;
}

.header_dropdown_item:hover {
  background-color: #7267f034;
  color: #7828c8;
}

.header_dropdown_item p {
  margin-left: 5px;
}

.header_dropdown_icon {
  font-size: 10px;
}

.full_screen_icon {
  display: flex;
  justify-content: center;
  margin-right: 15px;
}

.full_screen_icon button {
  position: relative;
  height: 0;
  outline: none;
  border: 0;
  transform: translateY(10px);
  background-color: transparent;
  cursor: pointer;
}

.full_screen_icon svg {
  font-size: 25px;
  border: 1px solid #363636;
  border-radius: 3px;
  color: #363636;
}

@media (max-width: 992px) {
  header {
    width: calc(100% - 20px);
    right: 10px;
  }

  .mobile_menu {
    visibility: visible;
    opacity: 1;
  }
}

@media (max-width: 720px){
  .mobile_menu img {
    width: 30px;
    height: 30px;
  }

  .full_screen_icon {
    display: none;
    visibility: hidden;
  }
}

